@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --cor1: #004877;
  --cor2: #40707b;
  --cor3: #9eb9c2;
  --cor4: #9eb9c2;

  --cor-fundo1: #f8fafc;
  --cor-fundo2: #9eb9c24d;

  --fonte1: "poppins", sans-serif;

  --text: #00000099;
  --text-size: 16px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--cor-fundo1);
  font-family: var(--fonte1);
  color: var(--text);
}

.nav-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  z-index: 99;
}

.nav-links {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 2rem;
  background-color: #dde7eb;
  padding: 1rem;
  border-radius: 26px;
}

.nav-link {
  color: var(--text);
  text-decoration: none;
  font-size: var(--text-size);
  padding: 0.5rem 1rem;
  border-radius: 16px;
  transition: 0.2s;
}

.nav-link:hover {
  background-color: var(--cor4);
}

.hero {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  background-color: var(--cor-fundo2);
  padding: 2rem;
  gap: 2rem;
  position: relative;
}

.hero-container {
  width: max-content;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.bolas {
  display: flex;
  gap: 1rem;
  flex-direction: row;
}

.bola1 {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--cor3);
}

.hero-title {
  color: var(--cor1);
  font-size: clamp(20px, 4vw, 32px);
  width: max-content;
}

.hero-text {
  font-size: clamp(12px, 3vw, 16px);
  width: min(800px, 50vw);
}

.hero-links {
  width: max-content;
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: 16px;
  text-decoration: none;
}

.btn1 {
  background-color: var(--cor2);
  color: var(--cor-fundo1);
  transition: 0.2s;
}

.btn1:hover {
  background-color: var(--cor3);
}

.btn2 {
  color: var(--cor2);
}

.hero-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  position: relative;
  height: clamp(340px, 22vw, 800px);
  width: clamp(340px, 22vw, 800px);
}

.hero-img-container > * {
  position: absolute;
}
.hero-img {
  width: auto;
  height: clamp(300px, 20vw, 700px);
}

.bola-grande {
  position: absolute;
  height: clamp(340px, 22vw, 800px);
  width: clamp(340px, 22vw, 800px);
  background-color: var(--cor2);
  border-radius: 50%;
  z-index: -99;
}

.beneficios {
  height: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}

.bnef-title {
  font-weight: normal;
}

.bnef-highlight {
  font-weight: bold;
  color: var(--cor2);
}

.bnef-cards {
  width: max-content;
  display: grid;
  grid-template-columns: 260px 260px 260px 260px;
  gap: 2rem;
}

.bnef-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.bnef-svg {
  height: 80px;
}

.bnef-card h2 {
  color: var(--cor2);
}

.servicos {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--cor-fundo2);
  padding: 2rem;
}

.srv-cards {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 380px 380px 380px;
  gap: 2rem;
}

.srv-card {
  background-color: var(--cor-fundo1);
  border-radius: 21px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.srv-card-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: 1rem;
  flex-grow: 1;
}

.srv-img {
  width: 380px;
}

.srv-card-title {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.79);
}

.srv-card-btn {
  padding: 0.5rem 1rem;
  width: max-content;
  border-radius: 16px;
  border: none;
  justify-self: right;
  background-color: var(--cor2);
  color: var(--cor-fundo1);
  transition: 0.2s;
}

.srv-card-btn:hover {
  background-color: var(--cor3);
}

.sobre {
  background-color: var(--cor-fundo1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 4rem;
}

.sobre h1 {
  color: var(--cor2);
}

.sobre-title {
  color: rgba(0, 0, 0, 0.8);
}

.sobre-text {
  color: var(--text);
  font-size: 16px;
}

.sobre-container {
  padding: 1rem;
  width: min(1000px, 90vw);
}

.depoimentos {
  width: 100%;
  height: auto;
  background-color: var(--cor-fundo2);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dp-title {
  margin-top: 2rem;
}

.dp-cards {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 340px 340px 340px;
  gap: 2rem;

}

.dp-card {
  background-color: var(--cor-fundo1);
  padding: 2rem;
  border-radius: 32px;
  display: flex;
}

.dp-card-container {
  display: flex;
  flex-direction: column;
}

.dp-card-title {
  color: black;
  font-size: 20px;
}

.dp-card-text {
  flex-grow: 1;
  font-size: 16px;
}

.dp-card-container i {
  color: var(--cor1);
  font-size: 20px;
}

.agendar {
  width: 100%;
  padding: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.agendar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.agendar-title {
  color: var(--cor1);
  font-size: 36px;
}

.agendar-btn {
  padding: 1rem 2rem;
  background-color: var(--cor2);
  color: var(--cor-fundo1);
  text-decoration: none;
  font-weight: bolder;
  border-radius: 1rem;
  letter-spacing: 1px;
  transition: 0.2s;
}

.agendar-btn:hover {
  background-color: var(--cor3);
}

@media (max-width: 1228px) {
  .srv-cards {
    grid-template-columns: 380px 380px;
  }
}
@media (max-width: 1028px) {
  .hero {
    flex-direction: column;
  }

  .hero-text-container {
    margin-top: 4rem;
  }
  .hero-container {
    margin-bottom: 120px;
  }

  .hero-img-container {
    margin-bottom: 180px;
  }
  .bola {
    display: none;
  }

  .hero-text {
    font-size: clamp(12px, 3vw, 16px);
    width: min(800px, 70vw);
  }

  .beneficios {
    height: auto;
  }

  .bnef-cards {
    grid-template-columns: 200px 200px;
  }

  .bnef-card h2 {
    font-size: 20px;
  }
  .dp-cards {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 390px;
    gap: 2rem;
  }
}

@media (max-width: 760px) {
  .srv-cards {
    grid-template-columns: 380px;
  }

  .agendar-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
  }

  .agendar-btn {
    width: 70vw;
    text-align: center;
  }
}
