@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@keyframes img {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

:root {
  --cor-clara: #c27aff;
  --cor-escura: #8200db;
  --cor-fundo-branco: #e2e8f0;
  --cor-fundo-azulada: oklch(98.351% 0.00802 254.097);
  --cor-fundo-navbar: #f1f5f9b0;
  --cor-fundo-project-container: #fefeff;
  --fonte-principal: "Poppins";
  --cor-fundo-skills: #1d42d522;
  --cor-fundo-projetos: #5472eb;
  --cor-fundo-contato: #1f45dd;

  --cor-boxshadow: #0010252d;
  --cor-texto-preto: #0d131c;
  --cor-titulo-preto: #0a0728c8;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--fonte-principal);
  color: var(--cor-texto-preto);
}

.nav-bar {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: var(--cor-fundo-navbar);
  width: 100%;
  height: 60px;
  backdrop-filter: blur(10px);
  z-index: 1000;
}
.company {
  font-weight: 600;
}

.nav-links-wrapper {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.nav-link-item {
  text-decoration: none;
  color: var(--cor-titulo-preto);
  padding: 8px 16px;
  font-size: 18px;
  border-radius: 20px;
  transition: transform 0.3s ease;
  will-change: transform;
}

.nav-link-item:hover {
  background-color: var(--cor-fundo-azulada);
  transform: translateY(-10px) scale(1.05);
}

.toggle {
  background-color: #44444431;
  width: 64px;
  height: 32px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 0 4px 0 4px;
}

.toggle-ball {
  background-color: var(--cor-fundo-navbar);
  width: 26px;
  height: 26px;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.toggle.active .toggle-ball {
  transform: translateX(30px);
}

.hero {
  display: flex;
  width: 100%;
  height: 800px;
  justify-content: center;
}

.hero-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 80px;
  align-items: center;
  margin: 0 auto;
}

.hero-text {
  width: 36%;
}

.hero-title {
  font-size: 42px;
  font-weight: 500;
  letter-spacing: -2px;
}

.hero-name-highlight {
  font-size: 46px;
  font-weight: 700;
  letter-spacing: normal;
  color: var(--cor-titulo-preto);
}

.hero-desc {
  font-size: 22px;
}

.minhaImagem {
  display: inline-block;
  margin-left: 80px;
  width: 500px;
  height: 500px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 4px 4px 10px #3141585a;
  animation: img 3s ease-in-out infinite alternate;
}

.about {
  position: relative;
  width: 100%;
  padding: 104px 0;
  display: flex;
  justify-content: center;
  overflow: hidden; /* corta o excesso do fundo */
}

/* FUNDO INCLINADO */
.about::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--cor-fundo-azulada);

  transform-origin: top left;
  z-index: -1;
}

.about-container {
  width: 1000px;
}

.about-title {
  color: var(--cor-titulo-preto);
  font-size: 30px;
  letter-spacing: 8px;
}

.about-text {
  font-size: 22px;
}

.skills {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 104px;
  background-color: var(--cor-fundo-skills);
}

.skills-container {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.skills-title {
  font-size: 30px;
  color: var(--cor-titulo-preto);
  margin-bottom: 60px;
}

.skills-list {
  margin: auto;
  display: flex;
  width: 80%;
  flex-wrap: wrap; /* permite quebrar linha */
  gap: 12px; /* distância igual entre os itens */
  justify-content: center; /* centraliza TODAS as linhas */
}
.skill-tag {
  padding: 10px 24px;
  background-color: #1a1365;
  border-radius: 20px;
  white-space: nowrap;
  color: var(--cor-fundo-branco);
  display: flex;
  font-size: 16px;
  align-items: center;
  text-align: center;
  justify-content: center;
  box-shadow: 2px 2px 6px var(--cor-boxshadow);
  transition: transform 0.3s ease;
  text-decoration: none;
}

.skill-tag:hover {
  transform: translateY(-10px);
}

.projects {
  background-color: var(--cor-fundo-azulada);
  width: 100%;
  height: auto;
}

.projects-container {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: top;
}

.projects-title {
  margin-top: 80px;
  font-size: 30px;
  color: var(--cor-titulo-preto);
}

.carousel {
  width: 80%;
  height: 800px;
  margin: 40px auto;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  background-color: var(--cor-fundo-projetos);
}

/* Esconder os radios */
.carousel input {
  display: none;
}

/* Container dos slides */
.carousel-track {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

/* Cada slide */
.carousel-item {
  width: 100%;
  flex: 0 0 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 50px;
  font-size: 2rem;
  color: white;
  background-color: var(--cor-fundo-projetos);
}

/* Movimentação dos slides */
#slide1:checked ~ .carousel-track {
  transform: translateX(0);
}
#slide2:checked ~ .carousel-track {
  transform: translateX(-100%);
}
#slide3:checked ~ .carousel-track {
  transform: translateX(-200%);
}

/* Botões (setas) */
.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: white;
  padding: 10px 15px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.4);
  border: none;
  border-radius: 5px;
  transition: 0.3s;
  z-index: 10;
}

.nav-btn:hover {
  background: rgba(0, 0, 0, 0.7);
}

.prev {
  left: 10px;
}
.next {
  right: 10px;
}

/* Esconder todos botões inicialmente */
.carousel-navigation .nav-btn {
  display: none;
}

/* Lógica das setas */
#slide1:checked ~ .carousel-navigation .slide1-next {
  display: block;
}
#slide2:checked ~ .carousel-navigation .slide2-next {
  display: block;
}
#slide3:checked ~ .carousel-navigation .slide3-next {
  display: block;
}

#slide1:checked ~ .carousel-navigation .slide1-prev {
  display: block;
}
#slide2:checked ~ .carousel-navigation .slide2-prev {
  display: block;
}
#slide3:checked ~ .carousel-navigation .slide3-prev {
  display: block;
}

/* Bolinhas */
.carousel-dots {
  position: absolute;
  bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  z-index: 10;
}

.carousel-dots .dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 0;
  background: #aaa;
  cursor: pointer;
  transition: 0.3s;
}

.carousel-dots .dot.active {
  background: #fff;
}
#slide1:checked ~ .carousel-dots label[for="slide1"],
#slide2:checked ~ .carousel-dots label[for="slide2"],
#slide3:checked ~ .carousel-dots label[for="slide3"] {
  background: #fff;
}

.projects {
  background-color: var(--cor-fundo-projetos);
}

.project-container {
  width: 70%;
  height: 80%;
  background-color: var(--cor-fundo-project-container);
  box-shadow: 0px 0px 40px var(--cor-boxshadow);
  border-radius: 8px;
  display: grid;
  grid-template-rows: 2fr 1fr;
}

.project-img {
  width: 100%;
  height: auto;
}

.project-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: start;
  text-align: left;
}
.project-text {
  padding: 22px 30px;
}

.project-title {
  font-size: 24px;
}

.project-desc {
  margin: 0;
  font-size: 16px;
}

.project-view {
  padding: 22px 30px;
  display: grid;
  grid-template-rows: 3fr min-content;
}

.project-tags {
  display: flex;
  gap: 8px;
  margin-top: 20px;
}

.project-tag {
  padding: 10px 24px;
  background-color: #1a1365;
  border-radius: 20px;
  height: min-content;
  white-space: nowrap;
  font-size: 16px;
  color: var(--cor-fundo-branco);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  box-shadow: 2px 2px 6px var(--cor-boxshadow);
  transition: transform 0.3s ease;
}

.project-tag:hover {
  transform: translateY(-10px);
}

.project-mais {
  text-decoration: none;
  background-color: var(--cor-titulo-preto);
  color: var(--cor-fundo-project-container);
  font-size: 16px;
  text-align: left;
  display: flex;
  align-items: center;
  padding: 8px 24px;
  border-radius: 100px;
  justify-self: right;
}

.project-mais:hover {
  filter: brightness(0.85);
}

.contact {
  background-color: var(--cor-fundo-contato);
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact .contact-title {
  color: var(--cor-fundo-branco);
  font-weight: 500;
  margin-top: 80px;
  font-size: 30px;
}

.contact .contact-form {
  background: linear-gradient(-45deg, #1f45dd, #4a67d9);
  display: grid;
  width: min(600px, 100%);
  height: 600px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 6fr 1fr;
  gap: 10px;
  padding: 32px;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2),
    4px 4px 10px var(--cor-boxshadow);
  border-radius: 8px;
}

.name-input,
.email-input,
.message-input {
  background-color: var(--cor-fundo-contato);
  border: none;
  padding: 10px 20px;
  color: var(--cor-fundo-branco);
  outline: none;
}
.name-input::placeholder,
.email-input::placeholder,
.message-input::placeholder {
  color: var(--cor-fundo-branco);
}

.contact-submit {
  background-color: var(--cor-fundo-projetos);
  border: none;
  color: var(--cor-fundo-branco);
}

.redes-sociais {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: start;
  justify-items: start;
  gap: 10px;
}

.instagram-container {
  background: linear-gradient(
    -45deg,
    #f09433,
    #e6683c,
    #dc2743,
    #cc2366,
    #bc1888
  );
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
}
