@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ===================== */
/* ANIMAÇÕES */
/* ===================== */
@keyframes float {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(-10px);
  }
}

/* ===================== */
/* VARIÁVEIS */
/* ===================== */
:root {
  /* Fonte */
  --font-primary: "Poppins", sans-serif;

  /* Cores principais */
  --color-primary: #1f45dd;
  --color-secondary: #5472eb;
  --color-accent: #8200db;

  /* Texto */
  --text-primary: #0d131c;
  --text-title: #0a0728c8;
  --text-inverse: #e2e8f0;

  /* Backgrounds */
  --bg-page: #f6faff;
  --bg-navbar: #f1f5f9b0;
  --bg-card: #fefeff;
  --bg-skills: #1d42d522;
  --bg-projects: var(--color-secondary);
  --bg-contact: #28292e;

  /* Componentes */
  --bg-input: rgb(46, 45, 58);
  --bg-chip: #1a1365;

  /* Efeitos */
  --shadow-default: 2px 2px 6px #0010252d;
  --shadow-strong: 0 0 40px #0010252d;
}

/* ===================== */
/* RESET */
/* ===================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-primary);
  color: var(--text-primary);
}

/* ===================== */
/* NAVBAR */
/* ===================== */
.nav-bar {
  position: fixed;
  width: 100%;
  height: 60px;
  display: grid;
  grid-template-columns: auto max(100px, 60vw) auto;
  justify-content: space-around;
  justify-items: start;
  align-items: center;
  background-color: var(--bg-navbar);
  backdrop-filter: blur(10px);
  z-index: 1000;
}

.company {
  font-weight: 600;
}

.nav-links-wrapper {
  display: flex;
  gap: 32px;
}

.nav-link-item {
  text-decoration: none;
  font-size: 18px;
  padding: 8px 16px;
  border-radius: 20px;
  color: var(--text-title);
  transition: transform 0.3s ease;
}

.nav-link-item:hover {
  background-color: var(--bg-page);
  transform: translateY(-10px) scale(1.05);
}

/* ===================== */
/* HERO */
/* ===================== */
.hero {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
}

.hero-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}

.hero-text {
  width: 36%;
}

.hero-title {
  font-size: 42px;
  font-weight: 500;
  letter-spacing: -2px;
}

.hero-name-highlight {
  font-size: 46px;
  font-weight: 700;
  color: var(--text-title);
}

.hero-desc {
  font-size: 22px;
}

.minhaImagem {
  width: 500px;
  height: 500px;
  margin-left: 80px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 4px 4px 10px #3141585a;
  animation: float 3s ease-in-out infinite alternate;
}

/* ===================== */
/* ABOUT */
/* ===================== */
.about {
  position: relative;
  width: 100%;
  padding: 104px 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.about::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--bg-page);
  z-index: -1;
}

.about-container {
  width: 1000px;
}

.about-title {
  font-size: 30px;
  letter-spacing: 8px;
  color: var(--text-title);
}

.about-text {
  font-size: 22px;
}

/* ===================== */
/* SKILLS */
/* ===================== */
.skills {
  width: 100%;
  padding: 20px 0px;
  background-color: var(--bg-skills);
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.skills-container {
  margin: 0px auto 80px auto;
  text-align: center;
  width: 40%;
  display: flex;
  flex-direction: column;
}

.skills-title {
  font-size: 30px;
  margin: 20px 0;
  color: var(--text-title);
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}

/* Tags reutilizáveis */
.skill-tag,
.project-tag {
  height: 46px;
  padding: 10px 24px;
  background-color: var(--bg-chip);
  color: var(--text-inverse);
  border-radius: 20px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--shadow-default);
  transition: transform 0.3s ease;
  text-decoration: none;
}

.skill-tag:hover,
.project-tag:hover {
  transform: translateY(-10px);
}

/* CONTAINER */
.logo-marquee {
  width: 100%;
  overflow: hidden;
  padding: 40px 0;
}

/* TRILHA */
.logo-track {
  display: flex;
  gap: 60px;
  width: max-content;

  animation: marquee 30s linear infinite;
  will-change: transform;
}

/* ITEM */
.logo {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 50px;
  height: 50px;
  object-fit: contain;

  /* visual profissional */
  filter: grayscale(100%) brightness(1.3);
  opacity: 0.7;
  transition: opacity 0.1s ease, filter 0.3s ease;
}

.logo img:hover {
  filter: grayscale(0) brightness(1);
  opacity: 1;
}

/* ANIMAÇÃO */
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.logo-swiper img {
  width: auto;
  height: 60px;
  filter: grayscale(100%) brightness(1.3);
  opacity: 0.6;
}


/* ================= */
/* Projects */
/* ================= */

.projects {
  background-color: var(--bg-page);
  width: 100%;
  height: auto;
}

.projects-container {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: top;
}

.projects-title {
  margin-top: 80px;
  font-size: 30px;
  color: var(--text-title);
}

.carousel {
  width: 80%;
  height: 800px;
  margin: 40px auto;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  background-color: var(--bg-page);
}

/* Esconder os radios */
.carousel input {
  display: none;
}

/* Container dos slides */
.carousel-track {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

/* Cada slide */
.carousel-item {
  width: 100%;
  flex: 0 0 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 50px;
  font-size: 2rem;
  color: white;
  background-color: var(--bg-page);
}

/* Movimentação dos slides */
#slide1:checked ~ .carousel-track {
  transform: translateX(0);
}
#slide2:checked ~ .carousel-track {
  transform: translateX(-100%);
}
#slide3:checked ~ .carousel-track {
  transform: translateX(-200%);
}

/* Botões (setas) */
.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: white;
  padding: 10px 15px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.4);
  border: none;
  border-radius: 5px;
  transition: 0.3s;
  z-index: 10;
}

.nav-btn:hover {
  background: rgba(0, 0, 0, 0.7);
}

.prev {
  left: 10px;
}
.next {
  right: 10px;
}

/* Esconder todos botões inicialmente */
.carousel-navigation .nav-btn {
  display: none;
}

/* Lógica das setas */
#slide1:checked ~ .carousel-navigation .slide1-next {
  display: block;
}
#slide2:checked ~ .carousel-navigation .slide2-next {
  display: block;
}
#slide3:checked ~ .carousel-navigation .slide3-next {
  display: block;
}

#slide1:checked ~ .carousel-navigation .slide1-prev {
  display: block;
}
#slide2:checked ~ .carousel-navigation .slide2-prev {
  display: block;
}
#slide3:checked ~ .carousel-navigation .slide3-prev {
  display: block;
}

/* Bolinhas */
.carousel-dots {
  position: absolute;
  bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  z-index: 10;
}

.carousel-dots .dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 0;
  background: #aaa;
  cursor: pointer;
  transition: 0.3s;
}

.carousel-dots .dot.active {
  background: #fff;
}
#slide1:checked ~ .carousel-dots label[for="slide1"],
#slide2:checked ~ .carousel-dots label[for="slide2"],
#slide3:checked ~ .carousel-dots label[for="slide3"] {
  background: #fff;
}

.projects {
  background-color: var(--bg-page);
}

.project-container {
  width: 70%;
  height: 80%;
  background-color: var(--bg-card);
  box-shadow: var(--shadow-strong);
  border-radius: 8px;
  display: grid;
  grid-template-rows: 2fr 1fr;
}

.project-img {
  width: 100%;
  height: auto;
}

.project-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: start;
  text-align: left;
}
.project-text {
  padding: 22px 30px;
}

.project-title {
  font-size: 24px;
}

.project-desc {
  margin: 0;
  font-size: 16px;
}

.project-view {
  padding: 22px 30px;
  display: grid;
  grid-template-rows: 3fr min-content;
}

.project-tags {
  display: flex;
  gap: 8px;
  margin-top: 20px;
}

.project-tag {
  flex: 0 1 auto;
}

.project-tag:hover {
  transform: translateY(-10px);
}

.project-mais {
  text-decoration: none;
  background-color: var(--text-title);
  color: var(--text-inverse);
  font-size: 16px;
  text-align: left;
  display: flex;
  align-items: center;
  padding: 8px 24px;
  border-radius: 10px;
  justify-self: right;
}

.project-mais:hover {
  filter: brightness(0.85);
}

/* ===================== */
/* CONTACT */
/* ===================== */
.contact {
  background-color: var(--bg-contact);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-title {
  margin-top: 80px;
  font-size: 30px;
  font-weight: 500;
  color: var(--text-inverse);
}

.contact-form {
  margin-top: 50px;
  width: min(600px, 100%);
  height: 600px;
  display: grid;
  grid-template-rows: 1fr 1fr 6fr 1fr;
  gap: 10px;
  padding: 32px;
  border-radius: 8px;
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.2),
              4px 4px 10px #0010252d;
}

.name-input,
.email-input,
.message-input {
  background-color: var(--bg-input);
  border: none;
  padding: 10px 20px;
  color: var(--text-inverse);
  outline: none;
}

.name-input::placeholder,
.email-input::placeholder,
.message-input::placeholder {
  color: var(--text-inverse);
}

.contact-submit {
  position: relative;
  background-color: var(--color-secondary);
  border: none;
  color: var(--text-inverse);
  padding: 12px 28px;
  border-radius: 8px;
  cursor: pointer;

  overflow: hidden;
  z-index: 1;
}

/* camada do sweep */
.contact-submit::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--color-primary); /* ou uma variação da cor primária */

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.35s ease;

  z-index: -1;
}

/* hover */
.contact-submit:hover::before {
  transform: scaleX(1);
}
/* ===================== */
/* SOCIAL */
/* ===================== */
.redes-sociais {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}

.rede{
  padding: 0;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.instagram {
    background: linear-gradient(
    -45deg,
    #f09433,
    #e6683c,
    #dc2743,
    #cc2366,
    #bc1888
  );
}

.whatsapp {
  width: auto;
  padding: 0 10px;
  background-color: #25D366;
}