.about {
  position: relative;
  width: 100%;
  padding: 104px 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: var(--bg-page);
}

.aboutContainer {
  width: min(90%, 1000px);
}

.aboutTitle {
  font-size: 30px;
  letter-spacing: -0.9px;
  color: var(--text-title);
  margin-bottom: 16px;
}

.aboutText {
  font-size: 18px;
  color: var(--text);
  line-height: 1.7;
  opacity: 0.8;
}

@media (max-width: 1024px) {
  .aboutTitle {
    font-size: 24px;
  }

  .aboutContainer {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .aboutContainer {
    width: 90%;
  }

  .aboutText {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .aboutText {
    font-size: 16px;
  }

  .aboutTitle {
    font-size: 24px;
    letter-spacing: 0.2px;
  }
}
